[Unit]
Description=Bydotcoin Full Node
After=network.target

[Service]
User=bydotcoin
Group=bydotcoin
WorkingDirectory=~

Type=forking
PIDFile=/var/run/bydotcoind.pid

ExecStart=/usr/bin/bydotcoind --config-file /etc/bydotcoind.conf \
    --detach --pidfile /var/run/bydotcoind.pid

[Install]
WantedBy=multi-user.target
